{% extends 'header.html' %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href={% static "css/courses.css" %}>
    <h1 class="company">{{ course.name }}</h1>
    <text class="description">{{ course.description|truncatechars:32 }}</text>
    <h4>Преподователи</h4>
    <div class="panel panel-default">
        <div class="panel-heading">Учитель</div>
        <div class="panel body">
            <a href="{% url 'coaches:coach_detail' pk=course.coach.pk %}">{{ course.coach }}</a>
            <br>
            {{ course.coach.description }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Ассистент</div>
        <div class="panel body">
            <a href="{% url 'coaches:coach_detail' pk=course.assistant.pk %}">{{ course.assistant }}</a>
            <br>
            {{ course.assistant.description }}
        </div>
    </div>
    <h2>Занятия курса:</h2>
    <hr>
    <table width="120%">
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
        {% for lesson in lessons %}
            <div class="course">
                <tr>
                    <td><h6>{{ forloop.counter }}</h6></td>
                    <td><h5>{{ lesson.subject }}</h5></td>
                    <td><h6>{{ lesson.description }}</h6></td>
                    <td>
                        {% if user.is_superuser %}
                            <a class="btn btn-default" href="{% url 'courses:lesson_edit' pk=lesson.pk %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-default" href="{% url 'courses:lesson_remove' pk=lesson.pk %}">
                                <span class="glyphicon glyphicon-remove"></span></a>
                        {% endif %}
                    </td>
                </tr>
            </div>
        {% endfor %}
    </table>
    <a href="{% url 'courses:add_lesson_to_course' pk=course.pk %}">
        <button type="submit">Add lesson
        </button>
    </a>
{% endblock %}