{% extends "header.html" %}
{% block content %}
    {% if messages %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}